{{ form_start(form) }}

<div class="card">
  <div class="card-content">
    <span class="card-title">Basic Information</span>

    <div class="input-field">
      {{form_widget(form.name)}}
      {{form_label(form.name)}}
    </div>

    <div class="input-field">
      {{form_widget(form.description)}}
      {{form_label(form.description)}}
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">About Page</span>
    <div class="light">

      {% include 'AppBundle:text:about_instructions.html.twig' %}
    </div>

    <div class="input-field">
      {{form_widget(form.about)}}
      {{form_label(form.about)}}
    </div>
  </div>
</div>

<button type="submit" class="btn" name="submit">Update</button>



{{ form_end(form) }}
