{{ form_start(form , {'attr': {'class': "pure-form pure-form-stacked"}}) }}

<h2>Basic Information</h2>
{{form_row(form.name)}}
<br>
{{form_row(form.description)}}
<br>
{{form_row(form.siteTitle)}}

<h2>About Page</h2>
{% include 'AppBundle:text:about_instructions.html.twig' %}

{{form_label(form.about)}}
{{form_widget(form.about, {'attr': {'class': 'article-textarea'}})}}


<br>
<button type="submit" class="pure-button pure-button-primary" name="submit">Update</button>



{{ form_end(form) }}
