{{ form_start(form) }}

<div class="row">
  <div class="input-field">
    {{form_widget(form.content)}}
    {{form_label(form.content)}}
  </div>
</div>

<div class="row">
  <div class="input-field">
    {{form_widget(form.tags)}}
    {{form_label(form.tags)}}
  </div>
</div>

{# Form may have dynamically added elements for POSSE. We can decide to render it here #}
{% if form.twitter is defined %}
  <div class="row">
    <div class="col s6 m3">
      {{form_widget(form.twitter)}}
      {{form_label(form.twitter)}}
    </div>
  </div>
{% endif %}


  <div class="row">
    <div class="col m4 push-m10">
      <button type="submit" name="submit" class="btn">Post</button>
    </div>
  </div>

{{ form_end(form) }}
