{{ form_start(form, {'attr': {'class': "pure-form pure-form-stacked"}}) }}

    {{form_row(form.title)}}

    {{form_row(form.content)}}

    {{form_label(form.date)}}
    {{form_widget(form.date)}}

    {{form_label(form.tags)}}
      {{form_widget(form.tags)}}

  {# Form may have dynamically added elements for POSSE. We can decide to render it here #}
  {% if form.twitter is defined %}
  <label for="quick_note_form[twitter]">
   {{form_widget(form.twitter)}} Twitter
  </label>

  {% endif %}

  <button type="submit" name="submit" class="pure-button pure-button-primary">Post</button>

{{ form_end(form) }}
