{# Provides logic to render different post types differently, meaning that all other templates need to do is include this one with a post #}

<div class="pure-g">

  <div class="pure-u-1-5">
    <p>
      <a class="grey-text" href="{{path('view_post_by_id', {'id': post.id})}}">{{post.date|date('d M Y, H:i')}}</a>
    </p>

    {% if post.location is not null and post.location.location is defined %} from <em>{{post.location.location}}</em>{% endif %}</p>
  </div>

  <div class="pure-u-3-5">
    
    {% if post.title is not null %}
    <h1>{{post.title}}</h1>
    {% endif %}

    <div class="post readable">
      {{post.content|markdown}}
    </div>

      {% include 'AppBundle:post:post_tags.html.twig' %}

  </div>

</div>

{% block actions %}{% endblock actions %}
