   <nav class="grey">
     <div class="nav-wrapper">
       <a id="navbar-page-title" href="#!" class="brand-logo left-padded">{{title}}</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

       <ul class="side-nav fixed grey darken-4" id="mobile-demo">
         <li class="logo"><img id="navbar_central_logo" src="{{asset('img/brimstone_light.svg')}}" alt=""></li>

         <li><a class="collapsible-header" href="{{path('control_panel')}}"><i class="material-icons">home</i>Home</a></li>
         <li>
           <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header">Posts<i class="material-icons">assignment</i></a>
               <div class="collapsible-body">
                 <ul class="grey darken-4">

                   <li><a href="{{path('write_post')}}">Write Post</a></li>
                   <li><a href="{{path('my_articles')}}">My Articles</a></li>
                   <li><a href="{{path('my_notes')}}">My Notes</a></li>
                   <li><a href="{{path('import_export')}}">Import and Export Posts</a></li>

                 </ul>
               </div>
             </li>
           </ul>
         </li>

         <li>
           <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header">News and Social<i class="material-icons">people</i></a>
               <div class="collapsible-body">
                 <ul class="grey darken-4">

                   <li><a href="{{path('rss_feeds')}}">RSS Feeds</a></li>

                 </ul>
               </div>
             </li>
           </ul>
         </li>

         <li>
           <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header"><i class="material-icons left">settings</i>Settings</a>
               <div class="collapsible-body">
                 <ul class="grey darken-4">

                   <li><a href="{{path('edit_profile')}}">Edit Profile</a></li>
                   <li><a href="{{path('change_password')}}">Change Password</a></li>

                 </ul>
               </div>
             </li>
           </ul>
         </li>



         <li><a class="collapsible-header" href="{{path('logout')}}"><i class="material-icons left">exit_to_app</i>Logout</a></li>



       </ul>
     </div>
   </nav>
