<div id="menu">
    <div class="pure-menu">

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{path('control_panel')}}" class="pure-menu-link">Home</a></li>

      </ul>

      <p class="pure-menu-heading">Posts</p>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('write_post')}}">Write Post</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('my_articles')}}">My Articles</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('my_notes')}}">My Notes</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('import_export')}}">Import / Export</a></li>
        </ul>

      <p class="pure-menu-heading">Social</p>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="{{path('rss_feeds')}}" class="pure-menu-link">RSS Feeds</a></li>

        </ul>
      <p class="pure-menu-heading">Settings</p>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('edit_profile')}}">Edit Profile</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('change_password')}}">Password</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('edit_social_settings')}}">Social</a></li>
          <li class="pure-menu-item menu-item-divided"><a href="{{path('logout')}}" class="pure-menu-link">Logout</a></li>
        </ul>
    </div>
</div>


   <!-- <nav class="grey">
     <div class="nav-wrapper">
       <a id="navbar-page-title" href="#!" class="brand-logo left-padded">{{title}}</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

       <ul class="side-nav fixed grey darken-4" id="mobile-demo">
         <li class="logo"><img id="navbar_central_logo" src="{{asset('img/brimstone_light.svg')}}" alt=""></li>

         <li><a class="collapsible-header" href="{{path('control_panel')}}"><i class="material-icons">home</i>Home</a></li>
         <li>
           <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header">Posts<i class="material-icons">assignment</i></a>
               <div class="collapsible-body">
                 <ul class="grey darken-4">

                   <li><a href="{{path('write_post')}}">Write Post</a></li>
                   <li><a href="{{path('my_articles')}}">My Articles</a></li>
                   <li><a href="{{path('my_notes')}}">My Notes</a></li>
                   <li><a href="{{path('import_export')}}">Import and Export Posts</a></li>

                 </ul>
               </div>
             </li>
           </ul>
         </li>

         <li>
           <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header">News and Social<i class="material-icons">people</i></a>
               <div class="collapsible-body">
                 <ul class="grey darken-4">

                   <li><a href="{{path('rss_feeds')}}">RSS Feeds</a></li>

                 </ul>
               </div>
             </li>
           </ul>
         </li>

         <li>
           <ul class="collapsible collapsible-accordion">
             <li>
               <a class="collapsible-header"><i class="material-icons left">settings</i>Settings</a>
               <div class="collapsible-body">
                 <ul class="grey darken-4">

                   <li><a href="{{path('edit_profile')}}">Edit Profile</a></li>
                   <li><a href="{{path('change_password')}}">Change Password</a></li>
                   <li><a href="{{path('edit_social_settings')}}">Social and Sharing</a></li>

                 </ul>
               </div>
             </li>
           </ul>
         </li>



         <li><a class="collapsible-header" href="{{path('logout')}}"><i class="material-icons left">exit_to_app</i>Logout</a></li>



       </ul>
     </div>
   </nav> -->
