<div id="menu">
    <div class="pure-menu">

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{path('control_panel')}}" class="pure-menu-link">Home</a></li>

      </ul>

      <p class="pure-menu-heading">Posts</p>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('write_post')}}">Write Post</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('my_articles')}}">My Articles</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('my_notes')}}">My Notes</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('import_export')}}">Import / Export</a></li>
        </ul>

      <p class="pure-menu-heading">Social</p>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="{{path('rss_feeds')}}" class="pure-menu-link">RSS Feeds</a></li>

        </ul>
      <p class="pure-menu-heading">Settings</p>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('edit_profile')}}">Edit Profile</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('change_password')}}">Password</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="{{path('edit_social_settings')}}">Social</a></li>
          <li class="pure-menu-item menu-item-divided"><a href="{{path('logout')}}" class="pure-menu-link">Logout</a></li>
        </ul>
    </div>
</div>
