<data>
  {% for p in posts %}
  <post>
    <note_id>{{p.noteId}}</note_id>
    <title>{{p.title}}</title>
    <content>{{p.content}}</content>
    <date>{{p.date|date('c')}}</date>
    <visible>{{p.visible}}</visible>

    <location>
      <lat>{% if p.location.lat is defined %}{{p.location.lat}}{% endif %}</lat>
      <long>{% if p.location.long is defined %}{{p.location.long}}{% endif %}</long>
      <location>{% if p.location.location is defined %}{{p.location.location}}{% endif %}</location>
    </location>

    <inReplyTo>{{p.inReplyTo}}</inReplyTo>

    <tags>
      {% for tag in p.tags %}
        <tag>{{tag.name}}</tag>
      {% endfor %}
    </tags>
  </post>
  {% endfor %}
</data>
